[Desktop Entry]
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=wezterm
Exec=wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
X-AppImage-Version=20250713-135109-85c587f9
